
header { background:#c4dff6 ;}

    h1{
    color: rgb(60,60,60);
    font-variant-caps:all-petite-caps;
    text-align: center;
}
h2 {
    color: rgb(19, 4, 118);
    font-variant-caps:all-petite-caps;
}
section{
    background-color: rgb(193, 221, 185);
}
a{
    background: rgb(243, 229, 187);
}











img{
    display: none;
}





